*{
    width: 970px;
    margin: 0 auto;
}

h1 {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    padding-top: 5px;
    border-bottom: 2px solid salmon;
}

img {
    width: 40%;
    display: block;
    margin-top: 5px;
    border: 1px solid grey;
}